@import "menu";
@import "banner";

//---------------HEADER-MAIN---------------
.main-head{
  width: 100%;
  height: 737px;
  padding: 39px 0 77px;
  background: url("../img/bg-head.jpg") 50% 50% no-repeat #000;
  background-size: cover;
}